{
  "extends": [
    "airbnb-base",
    "plugin:security/recommended"
  ],
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "log" }]
  },
  "globals": {
    "log": true
  },
  "plugins": [
    "security"
  ]  
}